@page "/spotreba"

<TitlePage>Spotreba</TitlePage>

<table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Spotreba</th>
            <th class="right">kW / deň</th>
			<th class="right">kW / mesiac</th>
			<th class="right">kW / rok</th>
          </tr>
        </thead>
        <tbody>
          			<tr>
            <td><a href="/elektrina">Elektrina</a></td>
            <td class="right">0</td>
			<td class="right">0</td>
			<td class="right">0</td>
			</tr>
						<tr>
            <td><a href="http:/studenavoda">Studená voda</a></td>
            <td class="right">0</td>
			<td class="right">0</td>
			<td class="right">0</td>
			</tr>
						<tr>
            <td><a href="/teplavoda">Teplá voda</a></td>
            <td class="right">0</td>
			<td class="right">0</td>
			<td class="right">0</td>
			</tr>
						<tr>
            <td><a href="/plyn">Plyn</a></td>
            <td class="right">0</td>
			<td class="right">0</td>
			<td class="right">0</td>
			</tr>
			        </tbody>
      </table>
